<entry xmlns="http://www.w3.org/2005/Atom" xmlns:gs="http://schemas.google.com/spreadsheets/2006">
  <title><%= title %></title>
  <gs:rowCount><%- row %></gs:rowCount>
  <gs:colCount><%- col %></gs:colCount>
</entry>
